<!DOCTYPE html>
<html lang="en">

<head>
{{>headerlinks}}
</head>

<body>
{{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right Side Div -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <figure>
                            <img src="./Images/about.png" alt="kartik" class="img-fluid" title="Kartik Gautam"
                                srcset="">
                        </figure>
                    </div>
                    <!-- left Side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello, I am <span class="textcolor">Kartik</span></p>
                        <h1>I am A <span class="textcolor">MEAN Stack Developer</span></h1>
                        <!-- <a href="/weather"><button>check now</button></a> -->
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
{{>footer}}





    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>